= '\n'
// BEGIN: Customizer
.customizer.d-none.d-md-block
	a.customizer-toggle.d-flex.align-items-center.justify-content-center(href="#")
		i(data-feather="settings" class="spinner")
	include ../contents/customizer-content.html
// End: Customizer
= '\n'
