= '\n'
// BEGIN: Vendor JS
script(src=app_assets_path+'/vendors/js/vendors.min.js')
// BEGIN Vendor JS
= '\n'
// BEGIN: Page Vendor JS
block vendorjs
// END: Page Vendor JS
= '\n'

// BEGIN: Theme JS
script(src=app_assets_path+'/js/core/app-menu.js')
script(src=app_assets_path+'/js/core/app.js')

// END: Theme JS
= '\n'
// BEGIN: Page JS
block pagejs
// END: Page JS
= '\n'
