//- BEGIN VENDOR JS
script(src=app_assets_path+'/vendors/js/vendors.min.js')
//- BEGIN VENDOR JS

//- BEGIN PAGE VENDOR JS
block vendorjs
//- END PAGE VENDOR JS


//- BEGIN VUEXY JS
script(src=app_assets_path+'/js/core/app-menu.js')
script(src=app_assets_path+'/js/core/app.js')


//- BEGIN PAGE LEVEL JS
block pagejs
//- END PAGE LEVEL JS
