//- =========================================================================================
  File Name: layout-empty.pug
  Description: Layout with empty content
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: PIXINVENT
  Author URL: http://www.themeforest.net/user/pixinvent
  ==========================================================================================-//

extends template

block pageVars
  - var pageTitle    = "Layout Empty"
  - var pageSubTitle = "layout empty"
  - var description  = "Layout with empty content"
  - var activeMenu   = "layout-empty"

block breadcrumbs
  +breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Layouts"}, {name:"Layout Empty"}])

//- Include page content in page block
append content
  include ../../contents/starter-kit/layout-empty.html
