//- =========================================================================================
    File Name: page-blog-list.pug
    Description: blog list page.
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
    ==========================================================================================-//
extends template

block pageVars
    - var pageTitle    = "Blog List"
    - var pageSubTitle = "Blog list page"
    - var description  = "Blog list page to show all the blogs that we have in our database"
    - var activeMenu   = "blog-list"

append pageConfig
    - var contentLayout = 'content-detached-right-sidebar'

block breadcrumbs
    +breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Pages"},{url:"#",name:"Blog"}, {name:"List"}])

//- Include page content in page block
append content
    include ../contents/page-blog-list.html

//- Include page content in Sidebar block
append sidebar
    include ../contents/page-blog-sidebar.html

//- Page CSS
//------------------------------
//- Add custom page specific CSS
append pagecss
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/pages/page-blog.css')
