//- =========================================================================================
  File Name: page-knowledge-base.pug
  Description: page FAQ Content
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: PIXINVENT
  Author URL: http://www.themeforest.net/user/pixinvent
  ==========================================================================================-//

extends template

block pageVars
  - var pageTitle    = "Knowledge Base"
  - var pageSubTitle = "Knowledge Base"
  - var description  = "Knowledge Base page content"
  - var activeMenu   = "knowledge-base"

block breadcrumbs
  +breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Pages"}, {name:"Knowledge Base"}])

//- Include page content in page block
append content
  include ../contents/page-knowledge-base.html


//- Page CSS
//------------------------------

//- Add custom page specific CSS
append pagecss
  link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/pages/page-knowledge-base.css')

//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
  script(src=app_assets_path+'/js/scripts/pages/page-knowledge-base.js')
