//- =========================================================================
    File Name: page-kb-category.pug
    Description:  Knowledge-base category Page Content
    --------------------------------------------------------------------------
    Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
    ==========================================================================

extends template

block pageVars
    - var pageTitle   = "Category"
    - var pageSubTitle = ""
    - var description  = ""
    - var activeMenu  = "knowledge-base"



block breadcrumbs
    +breadcrumbs([{url:"index.html",name:"Home"}, {url:"#",name:"Pages"}, {url:"page-knowledge-base.html",name:"Knowledge Base"}, {name:"Category"}])

//- Include page content in page block
append content
    include ../contents/page-kb-category.html


append pagecss
    link(rel='stylesheet', type='text/css', href=app_assets_path + '/css'+rtl+'/pages/page-knowledge-base.css')
//- Page JS
//------------------------------
//- Add custom page specific JS
append pagejs
  script(src=app_assets_path+'/js/scripts/pages/page-knowledge-base.js')
