//- =========================================================================================
    File Name: page-auth-reset-password-v2.pug
    Description: User simple login page.
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
    ==========================================================================================-//

extends template

block pageVars
    - var pageTitle    = "Reset Password Page"
    - var pageSubTitle = "Simple User Reset Password Page"
    - var description  = "User simple reset password page."
    - var activeMenu   = "reset-password-v2"
    - var isContainer  = false

append pageConfig
    - var contentLayout = 'blank-page'
    - var navbarFixed = false //- OPTIONS:- true, false

//- Include page content in page block
append content
      include ../contents/page-auth-reset-password.pug

append vendorjs
    script(src=app_assets_path+'/vendors/js/forms/validation/jquery.validate.min.js')

append pagejs
    script(src=app_assets_path+'/js/scripts/pages/page-auth-reset-password.js')

append pagecss
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/plugins/forms/form-validation.css')
    link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/pages/page-auth.css')
