//- =========================================================================================
  File Name: page-faq.pug
  Description: page FAQ Content
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: PIXINVENT
  Author URL: http://www.themeforest.net/user/pixinvent
  ==========================================================================================-//

extends template

block pageVars
  - var pageTitle    = "FAQ"
  - var pageSubTitle = "faq"
  - var description  = "faq page content"
  - var activeMenu   = "faq"

block breadcrumbs
  +breadcrumbs([{url:"index.html",name:"Home"},{url:"#",name:"Pages"}, {name:"FAQ"}])

//- Include page content in page block
append content
  include ../contents/page-faq.html


//- Page CSS
//------------------------------

//- Add custom page specific CSS
append pagecss
  link(rel='stylesheet', type='text/css', href=app_assets_path+'/css'+rtl+'/pages/page-faq.css')
