//- =========================================================================================
    File Name: documentation-colors.pug
    Description: Colors Description Documentation page
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
    ==========================================================================================-//

extends template

block pageVars
    - var pageTitle    = "Colors"
    - var activeMenu   = "colors"


append breadcrumbs
    +breadcrumbs([{url:"index.html",name:"Home"}, {name:"UI"}, {name:"Colors"}])



//- Include page content in content block
append content
    include ../contents/documentation-colors.html
