//- =========================================================================================
  File Name: documentation-html-structure.pug
  Description: Define HTML structure for header, menu, content & footer
  ----------------------------------------------------------------------------------------
  Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
  Author: PIXINVENT
  Author URL: http://www.themeforest.net/user/pixinvent
  ==========================================================================================-//

extends template

block pageVars
  - var pageTitle    = "HTML Structure"
  - var activeMenu   = "html-structure"



append pageConfig
  - var contentLayout = 'content-right-sidebar'
  - var sidebarSticky = true
  //-OPTIONS:- true, false | For sticky(floating) sidebar, will affect only if there is a sidebar

append breadcrumbs
  +breadcrumbs([{url:"index.html",name:"Home"}, {name:"HTML Structure"}])



//- Include page content in content block
append content
  include ../contents/documentation-html-structure.html

append sidebar
  include ../contents/sidebar/documentation-html-structure-sidebar.html

//- Page specific dependency
//------------------------------

//- Add custom page specific CSS
append pagecss
  link(rel='stylesheet', type='text/css', href='../../../app-assets/vendors/css/ui/prism-treeview.css')


//- Add custom page specific JS
append pagejs
  script(src='../../../app-assets/vendors/js/ui/prism-treeview.js', type='text/javascript')
