//- =========================================================================================
    File Name: documentation-javascript-customization.pug
    Description: Javascript Usage Documentation page
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
    ==========================================================================================-//

extends template

block pageVars
    - var pageTitle    = "Introduction"
    - var activeMenu   = "javascript-customization"



append breadcrumbs
    +breadcrumbs([{url:"index.html",name:"Home"}, {name:"Javascript Customization"}])



//- Include page content in content block
append content
    include ../contents/documentation-javascript-customization.html

//- Page specific dependency
//------------------------------

//- Add custom page specific CSS
append pagecss
  link(rel='stylesheet', type='text/css', href='../../../app-assets/vendors/css/ui/prism-treeview.css')


//- Add custom page specific JS
append pagejs
  script(src='../../../app-assets/vendors/js/ui/prism-treeview.js', type='text/javascript')
