//- =========================================================================================
    File Name: documentation-card.pug
    Description: c
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
    ==========================================================================================-//

extends template

block pageVars
    - var pageTitle    = "Card Documentation"
    - var activeMenu   = "card"


append breadcrumbs
    +breadcrumbs([{url:"index.html",name:"Home"}, {name:"Card Documentation"}])



//- Include page content in content block
append content
    include ../contents/documentation-card.html
