//- =========================================================================================
    File Name: documentation-faq.pug
    Description: FAQs Documentation page
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
    ==========================================================================================-//

extends template

block pageVars
    - var pageTitle    = "Laravel - FAQs"
    - var activeMenu   = "laravel-faq"

//- append pageConfig
//-     - var contentLayout = 'content-right-sidebar'
//-     - var sidebarSticky = true
//-     //-OPTIONS:- true, false | For sticky(floating) sidebar, will affect only if there is a sidebar

append breadcrumbs
    +breadcrumbs([{url:"index.html",name:"Home"}, {name:"FAQs"}])

//- Include page content in content block
append content
    include ../contents/documentation-laravel-faq.html

//- append sidebar
//-     include ../contents/sidebar/documentation-faq-sidebar.html
