//- =========================================================================================
    File Name: documentation-layout-blank.pug
    Description: Blank Layout
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
    ==========================================================================================-//

extends template

block pageVars
    - var pageTitle    = "Layout Blank"
    - var activeMenu   = "layout-blank"

append pageConfig
    - var contentLayout = 'content-right-sidebar'
    - var sidebarSticky = true
    //-OPTIONS:- true, false | For sticky(floating) sidebar, will affect only if there is a sidebar

append breadcrumbs
    +breadcrumbs([{url:"index.html",name:"Home"}, {name:"Layouts"}, {name:"Layout Blank"}])

//- Include page content in content block
append content
    include ../contents/documentation-layout-blank.html

append sidebar
    include ../contents/sidebar/documentation-layout-blank-sidebar.html
